/* Variables */ /* Base elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #5d5656;
}

h1, h2, h3, h4, h5, h6 {
  color: #282525;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button, input {
  font-family: inherit;
  font-size: 16px;
}

button {
  border: 0;
  cursor: pointer;
}

/* Reusable css classes */
.container {
  max-width: 968px;
  margin: auto;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.section {
  padding: 104px 0 32px 0;
}
.section .title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

/* Header */
header {
  position: fixed;
  width: 100%;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48px;
  height: 80px;
}
header .nav .logo {
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: #282525;
  font-weight: 500;
}
header .nav .logo img {
  width: 24px;
}
header .nav .menu ul {
  display: flex;
  column-gap: 48px;
  row-gap: 24px;
  align-items: center;
  margin-left: auto;
}
header .nav .menu ul a {
  color: #282525;
  font-weight: 500;
  transition: 0.5s;
}
header .nav .menu ul a.active, header .nav .menu ul a:hover {
  color: #dc3845;
}
header .nav .nav-buttons {
  align-items: center;
  column-gap: 16px;
}
header .nav .theme {
  font-size: 20px;
  cursor: pointer;
}
header .nav .menu-toggle {
  display: none;
  font-size: 20px;
  cursor: pointer;
}
header .nav .menu-close {
  position: absolute;
  top: 8px;
  right: 16px;
  display: none;
  font-size: 32px;
  cursor: pointer;
}
header .nav .nav-light {
  display: none;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-15deg);
}

/* Home section */
.home {
  padding-top: 128px;
}
.home > .flex.container {
  align-items: center;
  column-gap: 16px;
  row-gap: 24px;
}
.home img {
  width: 50%;
}
.home .title {
  font-size: 40px;
  margin-bottom: 10px;
}
.home .description {
  font-size: 14px;
  margin-bottom: 40px;
}

/* Giving section */
.giving > .flex {
  column-gap: 128px;
  row-gap: 40px;
  justify-content: center;
  padding-top: 32px;
}
.giving .item {
  width: 200px;
  text-align: center;
}
.giving .item .title {
  font-size: 20px;
  margin-bottom: 5px;
}
.giving .item .description {
  font-size: 14px;
}
.giving img {
  width: 120px;
  transition: 0.5s;
}
.giving img:hover {
  transform: translateY(-4px);
}

/* Celebrate section */
.celebrate > .flex {
  align-items: center;
}
.celebrate .title {
  margin-bottom: 24px;
  text-align: left;
}
.celebrate .description {
  margin-bottom: 40px;
  padding-right: 112px;
}
.celebrate img {
  width: 50%;
}

/* Gift section */
.gift > .flex {
  gap: 40px;
  flex-wrap: wrap;
  max-width: 680px;
  margin: auto;
  padding-top: 32px;
}
.gift .card {
  width: 200px;
  box-shadow: 0 4px 16px rgba(48, 29, 30, 0.1019607843);
  border-radius: 12px;
  padding: 32px 24px 24px 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gift .card img {
  width: 120px;
  margin-bottom: 16px;
  align-self: center;
  transition: 0.5s;
}
.gift .card img:hover {
  transform: translateY(-4px);
}
.gift .card .icon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 20px;
  color: #dc3845;
}
.gift .card .price {
  font-size: 20px;
}
.gift .card-title {
  font-size: 14px;
  font-weight: 500;
}

/* New section */
.new > .flex {
  gap: 80px;
  flex-wrap: wrap;
  max-width: 850px;
  margin: auto;
  padding-top: 32px;
}
.new .card {
  width: 230px;
  box-shadow: 0 4px 16px rgba(48, 29, 30, 0.1019607843);
  border-radius: 12px;
  text-align: center;
  padding: 16px 16px 24px 16px;
  position: relative;
  overflow: hidden;
}
.new .card .overlay {
  width: 250px;
  height: 250px;
  background-color: #dc3845;
  border-radius: 50%;
  position: absolute;
  top: -80px;
  left: -10px;
}
.new .card img {
  width: 150px;
  margin-bottom: 32px;
  position: relative;
  transition: 0.5s;
}
.new .card img:hover {
  transform: translateY(-4px);
}
.new .card .price {
  font-size: 20px;
}
.new .card .title {
  font-size: 16px;
  font-weight: 500;
}
.new .card .button {
  position: absolute;
  padding: 8px;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  border-bottom-right-radius: 12px;
  display: flex;
}
.new .card .button .icon {
  font-size: 20px;
}

/* Message component */
.message > .flex {
  background-color: #dc3845;
  padding: 56px 0;
  border-radius: 20px;
  justify-content: center;
  column-gap: 64px;
  align-items: center;
}
.message .title {
  font-size: 36px;
  text-align: left;
  color: #fff;
  margin-bottom: 24px;
}
.message input {
  border-radius: 48px;
  border: 0;
  outline: 0;
  padding: 16px 24px;
  width: 280px;
  color: #5d5656;
  display: block;
  margin-bottom: 16px;
}
.message .button {
  display: inline-block;
  background-color: #282525;
  color: #fff;
  padding: 20px 44px;
  border-radius: 48px;
  font-weight: 500;
  transition: 0.5s;
}
.message .button:hover {
  background-color: black;
}
.message img {
  width: 320px;
  transform: rotate(15deg);
}

/* Footer */
footer {
  overflow: hidden;
}
footer > .container > .flex {
  justify-content: space-between;
  position: relative;
}
footer .logo {
  display: flex;
  align-items: center;
  color: #282525;
  column-gap: 4px;
  margin-bottom: 16px;
}
footer .logo img {
  width: 24px;
}
footer .description {
  font-size: 14px;
}
footer.section .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: left;
}
footer .links {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
footer .links a {
  color: #5d5656;
  transition: 0.5s;
}
footer .links a:hover {
  color: #282525;
}
footer .aviables {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
footer .aviables img {
  width: 100px;
  cursor: pointer;
}
footer .copy {
  display: block;
  font-size: 13px;
  color: #918888;
  text-align: center;
  margin: 112px 0 16px 0;
}
footer .img1, footer .img2 {
  position: absolute;
  width: 120px;
}
footer .img1 {
  top: 100%;
  left: 0;
}
footer .img2 {
  top: 40%;
  right: -112px;
}

.button {
  display: inline-block;
  background-color: #dc3845;
  color: #fff;
  padding: 20px 44px;
  border-radius: 48px;
  font-weight: 500;
  transition: 0.5s;
}
.button:hover {
  background-color: #941a24;
}

/* Scroll */
.scrollup {
  position: fixed;
  bottom: 48px;
  right: 48px;
  box-shadow: 0 4px 12px rgba(51, 51, 51, 0.1019607843);
  display: inline-flex;
  padding: 6px;
  border-radius: 4px;
  background-color: #fff;
  opacity: 0.8;
  transition: 0.5s;
}
.scrollup:hover {
  opacity: 1;
}
.scrollup i {
  font-size: 20px;
  color: #dc3845;
}

@media (max-width: 968px) {
  .container {
    margin: auto 15px;
  }
  header .nav {
    height: 56px;
    margin: auto 24px;
  }
  header .nav .menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 64px 0;
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1019607843);
    border-radius: 0 0 24px 24px;
    transition: 0.5s;
  }
  header .nav .menu ul {
    flex-direction: column;
  }
  header .nav .menu.show {
    top: 0;
  }
  header .nav .menu-toggle, header .nav .menu-close, header .nav .nav-light {
    display: block;
  }
  .section {
    padding: 72px 0 16px 0;
  }
  .section .title {
    font-size: 20px;
  }
  .home {
    padding-top: 80px;
  }
  .home > .flex {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .home img {
    width: 320px;
  }
  .home .content {
    text-align: center;
  }
  .home .content .block {
    display: inline;
  }
  .home .title {
    font-size: 24px;
  }
  .home .description {
    padding: 0 32px;
    font-size: 13px;
  }
  .giving > .flex {
    flex-wrap: wrap;
    column-gap: 56px;
    justify-content: space-between;
    max-width: 85%;
    margin: auto;
  }
  .giving .item {
    width: 42%;
  }
  .giving .item .title {
    font-size: 16px;
  }
  .giving img {
    width: 100px;
  }
  .celebrate > .flex {
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 16px;
  }
  .celebrate img {
    width: 280px;
  }
  .celebrate .content {
    text-align: center;
  }
  .celebrate .content .title {
    text-align: center;
    font-size: 20px;
  }
  .celebrate .content .description {
    font-size: 15px;
    padding: 0 8px;
  }
  .gift > .flex {
    max-width: 90%;
    justify-content: space-between;
    column-gap: 32px;
    padding-top: 0;
  }
  .gift .card {
    width: 45%;
    padding: 24px 16px 16px 16px;
  }
  .gift .card img {
    width: 100px;
    margin-bottom: 4px;
  }
  .gift .card .price {
    font-size: 16px;
  }
  .gift .card-title {
    font-size: 12px;
  }
  /* @todo: carousel mobile */
  .new > .flex {
    padding-top: 0;
  }
  .message > .flex {
    flex-direction: column;
    row-gap: 48px;
    padding: 40px 24px;
  }
  .message form {
    text-align: center;
    width: 100%;
  }
  .message form .title {
    text-align: center;
    font-size: 22px;
  }
  .message form input {
    width: 100%;
  }
  .message form .button {
    width: 100%;
  }
  .message img {
    width: 200px;
  }
  footer > .container > .flex {
    flex-direction: column;
    row-gap: 32px;
  }
  footer .description {
    font-size: 13px;
  }
  footer.section .title {
    font-size: 16px;
  }
  footer .copy {
    margin-top: 56px;
  }
  footer .img1, footer .img2 {
    width: 100px;
  }
  footer .img1 {
    top: 25%;
    right: 32px;
    left: initial;
  }
  footer .img2 {
    top: 75%;
    right: -64px;
  }
  .scrollup {
    right: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
