@include mobile {
    .container {
        margin: auto 15px;
    }

    /* @todo: close menu */
    .menu {
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        padding: 64px 0;
        box-shadow: 0 1px 4px #2825251a;
        border-radius: 0 0 24px 24px;
        transition: 0.5s;
        display: none !important;
    }

    .home {
        > .flex {
            flex-wrap: wrap;
            flex-direction: column;
        }

        img {
            max-width: 320px;
        }

        .content {
            text-align: center;

            .block {
                display: inline;
            }
        }

        .title {
            font-size: 24px;
        }
    }
}
