@include mobile {
    .container {
        margin: auto 15px;
    }

    header {
        backdrop-filter: unset;

        .nav {
            height: 56px;
            margin: auto 24px;

            .menu {
                position: fixed;
                top: -100%;
                left: 0;
                background-color: #fff;
                width: 100%;
                padding: 64px 0;
                box-shadow: 0 1px 4px #2825251a;
                border-radius: 0 0 24px 24px;
                transition: 0.5s;

                ul {
                    flex-direction: column;
                }

                &.show {
                    top: 0;
                }

                .dark & {
                    box-shadow: 0 2px 4px #0a0a0a4d;
                }
            }

            .menu-toggle {
                display: flex;
            }

            .menu-close, .nav-light {
                display: block;
            }
        }
    }

    .section {
        padding: 72px 0 16px 0;

        .title {
            font-size: 20px;
        }
    }

    .home {
        padding-top: 80px;

        > .flex {
            flex-wrap: wrap;
            flex-direction: column;
        }

        img {
            width: 320px;
        }

        .content {
            text-align: center;

            .block {
                display: inline;
            }
        }

        .title {
            font-size: 24px;
        }

        .description {
            padding: 0 32px;
            font-size: 13px;
        }
    }

    .giving {
        > .flex {
            flex-wrap: wrap;
            column-gap: 56px;
            justify-content: space-between;
            max-width: 85%;
            margin: auto;
        }

        .item {
            width: 42%;

            .title {
                font-size: 16px;
            }
        }

        img {
            width: 100px;
        }
    }

    .celebrate {
        > .flex {
            flex-wrap: wrap;
            flex-direction: column;
            row-gap: 16px;
        }

        img {
            width: 280px;
        }

        .content {
            text-align: center;

            .title {
                text-align: center;
                font-size: 20px;
            }

            .description {
                font-size: 15px;
                padding: 0 8px;
            }
        }
    }

    .gift {
        > .flex {
            max-width: 90%;
            justify-content: space-between;
            column-gap: 32px;
            padding-top: 0;
        }

        .card {
            width: 45%;
            padding: 24px 16px 16px 16px;

            img {
                width: 100px;
                margin-bottom: 4px;
            }

            .price {
                font-size: 16px;
            }

            &-title {
                font-size: 12px;
            }
        }
    }

    /* @todo: carousel mobile */
    .new {
        > .flex {
            padding-top: 0;
        }
    }

    .message {
        > .flex {
            flex-direction: column;
            row-gap: 48px;
            padding: 40px 24px;
        }

        form {
            text-align: center;
            width: 100%;

            .title {
                text-align: center;
                font-size: 22px;
            }

            input {
                width: 100%;
            }

            .button {
                width: 100%;
            }
        }

        img {
            width: 200px;
        }
    }

    footer {
        > .container > .flex {
            flex-direction: column;
            row-gap: 32px;
        }

        .description {
            font-size: 13px;
        }

        &.section .title {
            font-size: 16px;
        }

        .copy {
            margin-top: 56px;
        }

        .img1, .img2 {
            width: 100px;
        }

        .img1 {
            top: 25%;
            right: 32px;
            left: initial;
        }

        .img2 {
            top: 75%;
            right: -64px;
        }
    }

    .scrollup {
        right: 24px;
    }
}
