/* Variables */
$font: 'Poppins', sans-serif;
$titleColor: #282525;
$textColor: #5d5656;
$firstColor: #dc3845;

$darkBgColor: #251819;
$darkSemiBgColor: #2f2223;
$darkTitleColor: #f3f2f2;
$darkTextColor: #c2bdbd;
