/* Celebrate section */
.celebrate {
    > .flex {
        align-items: center;
    }

    .title {
        margin-bottom: 24px;
        text-align: left;
    }

    .description {
        margin-bottom: 40px;
        padding-right: 112px;
    }

    img {
        width: 50%;
    }
}
