/* Gift section */
.gift {
    > .flex {
        gap: 40px;
        flex-wrap: wrap;
        max-width: 680px;
        margin: auto;
        padding-top: 32px;
    }

    .card {
        width: 200px;
        box-shadow: 0 4px 16px #301d1e1a;
        border-radius: 12px;
        padding: 32px 24px 24px 24px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
            width: 120px;
            margin-bottom: 16px;
            align-self: center;
            transition: 0.5s;

            &:hover{
                transform: translateY(-4px);
            }
        }

        .icon {
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;
            font-size: 20px;
            color: $firstColor;
        }

        .price {
            font-size: 20px;
        }

        &-title {
            font-size: 14px;
            font-weight: 500;
        }
    }
}
