/* Giving section */
.giving {
    > .flex {
        column-gap: 128px;
        justify-content: center;
        padding-top: 32px;
    }

    /* @todo: hover */
    .item {
        width: 200px;
        text-align: center;

        .title {
            font-size: 20px;
            margin-bottom: 5px;
        }

        .description {
            font-size: 14px;
        }
    }

    img {
        width: 120px;
    }
}
