/* Giving section */
.giving {
    > .flex {
        column-gap: 128px;
        row-gap: 40px;
        justify-content: center;
        padding-top: 32px;
    }

    .item {
        width: 200px;
        text-align: center;

        .title {
            font-size: 20px;
            margin-bottom: 5px;
        }

        .description {
            font-size: 14px;
        }
    }

    img {
        width: 120px;
        transition: 0.5s;

        &:hover{
            transform: translateY(-4px);
        }
    }
}
