/* Header */
header {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    transition: 0.5s;
    z-index: 2;

    &.shadow {
        box-shadow: 0 1px 4px #2825251a;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 48px;
        height: 80px;

        .logo {
            display: flex;
            align-items: center;
            column-gap: 4px;
            color: $titleColor;
            font-weight: 500;

            img {
                width: 24px;
            }
        }

        .menu {
            margin-left: auto;
            transition: 0.5s;

            ul {
                display: flex;
                column-gap: 48px;
                row-gap: 24px;
                align-items: center;

                a {
                    color: $titleColor;
                    font-weight: 500;
                    transition: 0.5s;

                    &.active, &:hover {
                        color: $firstColor;
                    }
                }
            }
        }

        .nav-buttons {
            align-items: center;
            column-gap: 16px;
        }

        .theme {
            display: flex;
            font-size: 20px;
            cursor: pointer;
        }

        .menu-toggle {
            display: none;
            font-size: 20px;
            cursor: pointer;
        }

        .menu-close {
            position: absolute;
            top: 8px;
            right: 16px;
            display: none;
            font-size: 32px;
            cursor: pointer;
        }

        .nav-light {
            display: none;
            width: 100px;
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(-15deg);
        }
    }
}
