/* Message component */
.message {
    > .flex {
        background-color: $firstColor;
        padding: 56px 0;
        border-radius: 20px;
        justify-content: center;
        column-gap: 64px;
        align-items: center;
    }

    .title {
        font-size: 36px;
        text-align: left;
        color: #fff;
        margin-bottom: 24px;
    }

    input {
        border-radius: 48px;
        border: 0;
        outline: 0;
        padding: 16px 24px;
        width: 280px;
        color: $textColor;
    }

    img {
        width: 320px;
        transform: rotate(15deg);
    }
}
