/* Scroll */
.scrollup {
    position: fixed;
    right: 48px;
    box-shadow: 0 4px 12px #3333331a;
    display: inline-flex;
    padding: 6px;
    border-radius: 4px;
    background-color: #fff;
    opacity: 0.8;
    transition: 0.5s;
    bottom: -48px;

    &.show {
        bottom: 48px;
    }

    &:hover {
        opacity: 1;
    }

    i {
        font-size: 20px;
        color: $firstColor;
    }
}
